{% extends 'base.html.twig' %}


{% block body %}
    <div class="example-wrapper">
        <div>
            {% for post in posts %}
                <div class="post" data-id="{{ post.id }}">
                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" height="150px">
                    <div class="bottom">
                        <span class="name">{{ post.name }}</span>
                        <span class="vote_number">{{ post.getNbVote }}</span>
                        <div class="actions">
                            <span class="look"><a href="{{ url('details', {'slug': post.name}) }}"><i class="fas fa-search-plus"></i></a></span>
                            <span class="vote"><i class="fas fa-thumbs-up"></i></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Post</th>
            </tr>
            </thead>
            <tbody>
            {% for vote in lastVotes %}
                <tr>
                    <td scope="row">{{ vote.id }}</td>
                    <td>{{ vote.date|date('d/m/Y H:m:s') }}</td>
                    <td>{{ vote.user.username }}</td>
                    <td><a href="{{ url('details', {'slug':vote.post.name}) }}">{{ vote.post.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}