{% extends 'base.html.twig' %}


{% block body %}
    <div class="example-wrapper">
        <div>
            {% for post in posts %}
                <div class="post" data-id="{{ post.id }}">
                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" height="150px">
                    <div class="bottom">
                        <span class="name">{{ post.name }}</span>
                        <div class="actions">
                            <span class="look"><i class="fas fa-search-plus"></i></span>
                            <span class="vote"><i class="fas fa-thumbs-up"></i></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}