<div class="container mb-4">
    <ul class="nav justify-content-center">
        <li class="nav-item"><a href="{{ url('homepage') }}" class="nav-link">Acceuil</a></li>
        {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ app.user.username }}</a>
                <div class="dropdown-menu">
                    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                        <a class="dropdown-item" href="{{ url('admin') }}">Admin</a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item disabled">Vos derniers votes &nbsp;<i class="fa fa-arrow-down"></i></a>
                    <div class="dropdown-divider"></div>
                    {% if lastUserVotes is not empty %}
                        {% for vote in lastUserVotes %}
                            <a class="dropdown-item" href="{{ url('details', {'slug':vote.post.name}) }}">
                                - {{ vote.post.name }}</a>
                        {% endfor %}
                    {% else %}
                        <a class="dropdown-item disabled">Il n'y a aucun vote</a>
                    {% endif %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url('security_logout') }}">Déconnexion</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url('security_login') }}">Connexion</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url('user_registration') }}">Inscription</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ url('presentation') }}">Présentation</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url('search') }}">Rechercher</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url('categoriesList') }}">Categories</a></li>
    </ul>
</div>